
@font-face {
  font-family: 'Codystar';
  src: url('../fonts/Codystar/Codystar-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Presstoplay';
  src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}