//colors

$zeroColor: #0b1003;
$firstColor: #f0eeef;
$secondColor: #cfcdcb;
$thirdColor:  #fd7c84;
$fourthColor:#025b0e;
$fivethColor: #9db802;
$sixthColor: #025393;
$seventhColor: #ffb9cb;
$eighthColor: #01d3fc;
$nineColor: #460920;



//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
