.footer {
  display: flex;
  justify-content: center;
}

.footer__inner {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}


#footer__ticker {
  font-family: 'Presstoplay', sans-serif;
  font-size: 12px;
  padding: 20px;
  background-color: transparent;
  border: 0;
}


@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */

}


@media (max-width: 991px) {

  /* CSS для ширины от 768px до 991px */

}


@media (max-width: 767px) {

  /* CSS для ширины от 576px до 767px */
  #footer__ticker {
    font-size: 8px;
  }
}


@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}